.header {
    background: $color;
    padding: 50px 0;   
    &-title {
        @include heading(120);        
        text-shadow: 5px 5px 10px $background, -5px -5px 10px $background, -5px 5px 10px $background, 5px -5px 10px $background;
    }
    &-subtitle {
        @include heading(50);        
    }
}