.game-image-container {
    width: 40%;
}

.game-image {
    width: 100%;
}

.game-container {
    border: 5px solid red;
    width: 80%;
}

.game-screen {
    border: 5px solid black;
    width: 60%;
}

.game-screen-result {
    border: 10px solid blue;
}